body {
background: linear-gradient(90deg, rgba(103,103,103,1) 0%, rgba(0,0,40,1) 100%); 
height: 500px}

#cont { 
border: 1px solid black ;
 width: 600px ;
 margin-left: 350px ;
 background-color: gray ; 
 border-radius: 200px ; 
  margin-top: 80px;
  max-height: 450px
  
}

.wrapper { 
display: flex ;
height: 100vh ; 
flex-direction: column ; 
justify-content: center ; 
align-items: center;

margin-bottom:  }

.wrapper h2 { 
margin: 0 ; 
}

.break-session-length { 
display: flex ; 
width: 500px ; 
justify-content: space-between ; }

button { 
border: none ; 
padding: 8px ; 
font-size: 18px ; 
border-radius: 4px }

div > button { 
color: white ; 
background: rgb(103,103,103);
background: linear-gradient(90deg, rgba(103,103,103,1) 0%, rgba(40,0,0,1) 100%);}

div button:nth-child(2) { 
color: #ffffff ; 
background-color: yellow ; }

strong { 
margin: 0 8px ; }

.timer {
  border: 2px solid #ccc ; 
  border-radius: 10px ; 
  text-align: center ; 
  margin: 20px 0 ;
  padding-top: 10px ; 
}

.timer-wrapper > button { 
margin-left: 10px }
